body {
  padding: 0 25px;
  background-color: #fdf0e6;
}

h1, h2 {
  color: #f08e80;
  font-family: Cormorant Garamond;
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1, .header .menu {
  margin: 15px 0 0;
}

.header .menu a {
  color: #000;
  padding: 5px 10px;
  margin-left: 5px;
  line-height: 2.2em;
  font-size: 1.2rem;
}

.content .masonry {
  column-count: 3;
  column-gap: 25px;
}

.content .masonry .brick {
  page-break-inside: avoid;
  break-inside: avoid;
  text-align: center;
  margin-bottom: 25px;
}

.content .masonry .brick a:hover, .masonry .brick a:active {
  text-decoration: none;
}

.content .masonry .brick img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .content .masonry {
    column-count: 1 ;
  }
}

.content .page img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
